@font-face {
  font-family: Comfortaa;
  src: url(./Comfortaa.ttf);
}

/* CSS Vars */
:root {
  --c0: #512BC7;
  --c1: #2900C0;
  --c2: #40F99B;
  --c3: #F5FBEF;
  --c4: #E85D75;

  --icon-red: hsl(0,75%,64%);
  --icon-red-orange: hsl(10,75%,64%);
  --icon-orange: hsl(30,75%,64%);
  --icon-gold: hsl(50,75%,64%);
  --icon-green: hsl(80,75%,64%);
  --icon-blue: hsl(190,75%,64%);
  --icon-pink: hsl(310,75%,64%);

  --shadow-color: #0004;
  --box-shadow: 2px 2px 7px var(--shadow-color);

  --bg-gradient: linear-gradient(165deg, var(--c0), var(--c1));
  --tri-gradient: linear-gradient(-65deg, var(--c2), var(--c3), var(--c4));
  --tri-gradient-light: linear-gradient(-65deg, var(--c2) -150%, var(--c3) 50%, var(--c4) 150%);
  --transparent-gradient: linear-gradient(175deg, #eee8, #aaa2);
}

/* HTML & Body */
html {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2900C0;
  background: var(--bg-gradient);
  background-attachment: fixed;
  color: var(--c3);
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Comfortaa, sans-serif;
  line-height: 1.3;
}

body {
  position: absolute;
  inset: 0;
  overflow: auto;
  overflow-x: hidden;
}

/* Headers */
h1 {
  font-size: 54px;
}
h3 {
  background: var(--transparent-gradient);
  color: var(--c3);
  outline: 1px solid #fff5;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

/* Content Box */
.content-box {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--c0);
}

/* Anchor Tag */
a,
a:visited {
  color: inherit;
  text-decoration-color: #fff8;
  text-underline-offset: 2px;
}

a:hover {
  text-decoration-color: var(--c3);
}

.btn, button, input[type=text], input[type=number] {
  text-align: center;
  display: inline-block;
  background-color: var(--c0);
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border-radius: 0.5rem;
  line-height: 1.5;
  padding: 7px 10px;
  text-decoration: none;
  cursor: pointer;
  outline: 1px solid #0004;
}

input::placeholder {
  color: #999;
}

input[type=text], input[type=number] {
  cursor: text;
}

.btn:hover, button:hover,
.btn:focus, button:focus,
.btn.outline, button.outline {
  outline: 1px solid #fff4;
}

/* Game Menu Inputs */
.game-ui, input.game-ui, button.game-ui, select.game-ui {
  font-size: 14px;
  border-radius: 0.5rem;
  line-height: 1.5;
  padding: 7px 10px;
  background-color: var(--c0);
  outline: 1px solid #0004;
}
input.game-ui, button.game-ui, select.game-ui {
  background: var(--bg-gradient);
}
.btn.pulse:hover,
button.pulse:hover,
input.pulse:hover,
select.pulse:hover,
input.game-ui:focus, input.game-ui:hover,
button.game-ui:focus, button.game-ui:hover,
select.game-ui:focus, select.game-ui:hover {
  outline: 1px solid var(--c3);
  animation-name: outline-pulse;
  animation-duration: 1.2s;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.btn:disabled,
input:disabled, button:disabled, select:disabled,
input.game-ui.disabled,
button.game-ui.disabled,
select.game-ui.disabled {
  filter: grayscale(0.8);
}

/* Adds uniform margins and centers on parent */
.margins {
  margin: 0 auto;
  padding: 1rem;
  max-width: 720px;
}

/* Centers all content */
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Text Gradient */
.text-gradient {
  width: fit-content;
  background: var(--tri-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Inline Spinner */
.icofont-custom-spinner {
  display: inline-flex;
  font-size: 17px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.icofont-custom-spinner::before {
  content: "\eff5";
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
}

/* Global icon coloring */
.icofont-undo.colored {
  color: var(--icon-red);
}
.icofont-save.colored {
  color: var(--icon-green);
}
.icofont-coins.colored {
  color: var(--icon-gold);
}
.icofont-star.colored {
  color: var(--c2);
}
.icofont-paint.colored {
  color: var(--icon-orange);
}
.icofont-exit.colored {
  color: var(--icon-red-orange);
}
.icofont-game.colored {
  color: var(--icon-pink);
}
.icofont-ui-home.colored {
  color: var(--icon-blue);
}
.icofont-picture.colored {
  color: var(--icon-blue);
}
.icofont-dna-alt-1.colored {
  color: var(--icon-pink);
}
.icofont-ui-check.colored {
  color: var(--icon-green);
}
.icofont-tag.colored {
  color: var(--c3);
}

/* No Text Select Class */
.no-select, *[class^=text-gradient] {
  user-select: none;
  -moz-user-select: none;
}

/* Custom Scrollbar */
:not(.classic-scroll)::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  box-sizing: content-box;
  background-color: var(--c0);
  border: 1px solid #0002;
  border-radius: 6px;
}

:not(.classic-scroll)::-webkit-scrollbar-corner {
  background-color: var(--c0);
}

:not(.classic-scroll)::-webkit-scrollbar-thumb {
  background-color: #fff5;
  border: 2px solid #0000;
  border-radius: 6px;
  background-clip: padding-box;
}

:not(.classic-scroll)::-webkit-scrollbar-thumb:hover {
  background-color: #fffa;
}

:not(.classic-scroll)::-webkit-scrollbar-track {
  border-radius: 3px;
}

@keyframes outline-pulse {
  0% {
    outline-width: 1px;
  }
  50% {
    outline-width: 5px;
  }
  100% {
    outline-width: 1px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}